.hero-container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 80px;
  padding: 0 8px 0 8px;
}

.hero-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-image-wrapper {
  position: relative;
  width: 33%;
}

.hero-image {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  border-radius: 10px;
}

.hero-text {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
}

.hero-text-p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 16px;
  border-radius: 5px;
  text-align: center;
  width: 80%;
}
