.hero-container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 80px;
  padding: 0 8px;
}

.hero-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 768px) or (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

.hero-image-wrapper {
  position: relative;
  width: 33%;

  @media (max-width: 768px) or (max-width: 1024px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.hero-image {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  border-radius: 10px;

  @media (max-width: 768px) or (max-width: 1024px) {
    height: 60vh;
  }
}

.hero-text {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;

  @media (max-width: 768px) or (max-width: 1024px) {
    font-size: 1.8rem;
  }
}

.hero-text-p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 16px;
  border-radius: 5px;
  text-align: center;
  width: 80%;

  @media (max-width: 768px) {
    font-size: 1rem; /* For mobile devices */
    bottom: 2%;
    width: 90%;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 2rem; /* For tablet devices only */
    bottom: 4%; /* Adjusted for tablet */
    width: 85%; /* Adjusted width for tablet */
  }
}
