.amountSavedSection {
  padding: 50px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.amountSavedSection h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.count {
  font-size: 3rem;
  color: #5a9b0c;
  font-weight: bold;
}
