:root {
  --background-color-bottom: #ffffff;
  --background-color: #ffffff;
  --text-color: #000;
  --text-heading-color: #2c3e50;
  --hover-shadow: rgba(0, 0, 0, 0.4);
  --active-button: #5a9b0c;
}

[data-theme="dark"] {
  --background-color: #333;
  --background-color-bottom: #333;
  --text-color: #fff;
  --text-heading-color: #f4f4f4;
  --hover-shadow: rgba(255, 255, 255, 0.4);
  --active-button: #5a9b0c;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color-bottom);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
